* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.header {
  background-image: url(hero.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.logobit {
  margin-left: 100px;
}

.linkeroo {
  margin-left: 30px;
  color: white !important;
  cursor: pointer;
}

.linkeroo:hover {
  color: yellow !important;
}

.sgn-up {
  margin-right: 10rem;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: yellow;
  font-weight: bold;
}
.sgn-up:hover{
  background-color: aliceblue;
}

.headertxt {
  margin-left: 9rem;
  margin-top: -3rem;
  font-size: 7rem;
}

.withstyle {
  font-size: 3rem;
  margin-left: 9rem;
  margin-top: -5rem;
}

.headerp {
  margin-left: 9rem;
  margin-bottom: 10px;
  margin-top: -5rem;
  font-family: 'Ubuntu', sans-serif;
}

.sgn-up1 {
  margin-right: 10rem;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: yellow;
  font-weight: bold;
  margin-left: 9rem;
  margin-top: -4rem;
}

.sgn-up1:hover{
  background-color: aliceblue;
}
/* .card:hover{
    zoom: 5%;
} */

.categories{
  overflow: hidden;
}

.cathr{
  width: 130px;
  color: orange;
  height: 40px;
  border-bottom: 4px solid orange;
}

.card1{
  overflow-y: hidden;
}
.cat:hover{
  transform: scale(1.1);
 transition: all 2s ease;
}
.man1{
    height: 300px;
    width: 350px;
    margin-left: 30%;
}

.play{
    position: absolute;
    top: 190%;
    left: 69%;
}

.up{
    position: absolute;
    top: 173%;
    left: 59%;
}

.up1{
    position: absolute;
    top: 175%;
    left: 58%;
}

.down{
    position: absolute;
    top: 200%;
    left: 75%
}

.down1{
    position: absolute;
    top: 201%;
    left: 74%
}

.experience{
    margin-left: 7rem;
    padding: 20px;
}

.experience h3{
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}
.experience h4{
  overflow-x: hidden;
}
.experience button{
    height: 40px;
    width: 8rem;
    border: none;
    background-color: rgb(240,192,42);
    color: black;
    font-weight: bolder;
}
.featurdcd:hover{
transform: scale(1.1);
 transition: all 2s ease;
 overflow: hidden;
}
.experience button:hover{
  background-color: aliceblue;
}

.fun{
    height: 300px;
    width: 350px;
    position: relative;
    z-index: 7;
}

.furniturebank{
    margin-left: 7rem;
    margin-top: 4rem;
}

.box{
    height: 6rem;
    position: absolute;
    top: 222%;
    left: 27%
}

.box1{
    height: 6rem;
    position: absolute;
    top: 223%;
    left: 28%
    
}

.box2{
    height: 6rem;
    position: absolute;
    top: 265%;
    left: 6%
}

.furniture{
    margin-left: 1rem;
    margin-top: 8rem;
    height: 300px;
    width: 500px;
    overflow-x: hidden;
}

.furniture h4{
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}

.furniture button{
    height: 40px;
    width: 8rem;
    border: none;
    background-color: rgb(240,192,42);
    color: black;
    font-weight: bolder;
}

.furniture button:hover{
  background-color: aliceblue;
}

.featurewraper{
    margin-left: 8rem;
}

.featurewraper hr{
 width: 6rem;
 font-weight: bolder;
 color: orange;
 border-bottom: 4px solid orange;
 /* hoverheature */
 transform: scale(1.2);
 transition: all 2s ease;
}

.img1{
    height: 150px;
    width: 120px;
}

.featured2{
  height: 18rem;
  width:16rem;
  margin-top: 60px;
}

.hearhdr{
  margin-top: 5rem;
  margin-left: 8rem;
}

.hearhdr hr{
  width: 6rem;
 font-weight: bolder;
 margin-top: -20px;
 color: rgb(244,208,95);
  border-bottom: 4px solid orange;
}

.reviewimg{
 margin-top: 1rem;
  margin-left: 8rem;
}

.reviewimg ul{
  display: flex;
}
.reviewimg li{
  list-style-type: none;
}

.btn2{
  position: absolute;
  left: 18%;
}
.btn3{
  position: absolute;
  left: 18%;
}

.btn4{
  position: absolute;
  left: 18%;
}
.more{
  background-color: rgb(177, 189, 12);
  /* border: 1px solid black; */
  width: 100px;
  border-radius: 10px;
  position: absolute;
  top: 370%;
  left: 33%;
  justify-content: center;
  font-size: smaller;
  margin-top: 90px;
}
.robot{
  color: rgb(244,208,95);
  font-size: 5rem;
  margin-left: 60px;
  /* margin-top: -40px; */
}
.reviewbot{
  height:300px;
}

.review{
  margin-top: 20px;
}

.review h5{
  margin-left: 120px;
 text-align: center;
 font-family: 'Poppins', sans-serif;
 margin-top: 20px;
 height:150px;
 width: 30rem;
 display: none;
}

.robot1{
 color: rgb(244,208,95);
  font-size: 5rem;
  margin-left: 36rem;
  margin-top: 2rem;
  position: absolute;
  top: 390%;
  left: 40%;
}

.reviews{
  /* margin-top: 10rem; */
  overflow: hidden;
 height: 40px;
}
.reviewbtn{
  height: 40px;
  width: 8rem;
  border: none;
  background-color: rgb(240,192,42);
  color: black;
  font-weight: bolder;
  margin-left: 27rem;
  /* position: absolute;
  top: 395%;
  left: 40%; */
}

.reviewbtn:hover{
  background-color: aliceblue;
}
.reach{
  overflow: hidden;
}
.contact{
  background-color: rgb(240,192,42);
  height: 50vh;
  width: 90vw;
  margin-left: 4rem;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 20px;
}

.form{
  background-color: white;
  height: 20rem;
  width: 25rem;
  border: 2px solid rgba(255, 255, 255, 0);
  box-shadow: 10px;
  /* margin-top: -40px; */
}

.form input{
  border: 0.5px solid #DED9D9;

}
.contactlist{
  margin-top: 30px;
  margin-left: -5px; 
}

.contactlist li{
  list-style-type: none;
  display: flex;
}

.contactlist p{
  margin-left: 20px;
  font-weight: bolder;
}

.form{
  box-shadow: 30px;
  border-top: 6px solid grey;
  border-radius: 5px;
}
.form h6{
  margin-top: 30px;
  margin-left: 10px;
  color: black;
  font-weight: bolder;
}

.form input{
  margin-left: 30px;
  margin-bottom: 10px;
  outline: none;
}
.form h6{
  margin-left: 30px;
  overflow: hidden;
}
.fstnm{
 width: 9rem;
 margin-left: 40px;
}
.fstnm1{
  width: 8rem;
}

.fstnm2{
  width: 19rem;
}
.fstnm3{
  width: 19rem;
  height: 8rem;
}

.ctcbtn{
  margin-left: 30px;
  width: 60px;
  background-color: rgb(240,192,42);
  border: none;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
}

.ctcbtn:hover{
  background-color: aliceblue;
}
footer{
  background-color:rgb(240,192,42) ;
  height: 35vh;
  width: 70wh;
  overflow: hidden;
}

.footersgnup{
  margin-left: 120px;
  overflow-x: hidden;
  margin-top: 40px;
  color: black;
}
.footersgnup input{
  border: none;
  width:13rem;
}
.footersgnup h5{
  margin-bottom: 20px;
  overflow: hidden;
}

.footersgnup button{
  background-color: black;
  width: 80px;
  color: white;
  border: none;
}

.footersgnup button:hover{
 background-color: aliceblue;
 color: black;
}
.footersgnup p{
  font-size: smaller;
  color: chocolate;
}

.footerlist{
  margin-left: 200px;
  color: black;
  justify-content: space-evenly;
  margin-top: 40px;
}

.myaccount p{
margin-left: 30px;
font-weight:bolder;
color: black;
}

.myaccount a{
text-decoration: none;
font-family: 'Ubuntu', sans-serif;
color: black;
}
.myaccount a:hover{
color: chocolate;
}

.Support a{
 text-decoration: none;
 font-family: 'Ubuntu', sans-serif;
 color: black;
}

.Support a:hover{
color: chocolate;
}

.Support p{
margin-left: 30px;
font-weight:bolder;
}

.Funcity a{
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

.Funcity a:hover{
color: chocolate;
}

.Funcity p{
margin-left: 30px;
font-weight:bolder;
}

.lastline{
  display: flex;
  justify-content: space-around;
}

.Copyright{
  margin-top: 30px;
  color: black;
  position: absolute;
  top: 482%;
  left: 35%;
}

.icons i{
  justify-content: space-between;
  margin-top: 30px;
  color: black;
}

.footerimg{
  position: absolute;
  top: 482%;
  left: 10%;
 } 
 